.cardproducto{
    height: max-content;
}
.precio{
    color: red;
    font-size: x-large;
}
.tc{
    background-color: red;
    text-decoration: none;
    border-radius: 5px;
    color: inherit;
}
.tc:hover{
    color: red;
    background-color: white;
}
